html {
    /* scroll-behavior: smooth; */
    font-size: 16px;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

:root {
    --main-color: #00FF26;
}

/* land-page start*/
.background {
    width: 100%;
    height: 100vh;
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo a {
    font-size: clamp(1rem, 0.737rem + 1.053vw, 2rem);
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav .logo a span {
    color: var(--main-color);
}

.land-page ul {
    display: flex;
    gap: 40px;
}

.land-page li {
    display: inline-block;
}

.land-page nav .ul a {
    font-size: clamp(1rem, 0.967rem + 0.132vw, 1.125rem);
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    
}

.green {
    color: var(--main-color) !important;
}

.land-page nav ul a::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    box-shadow: 0 0 5px white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    transform: scale(0);
    transform-origin: left;
}

.land-page nav ul .green::before {
    background-color: var(--main-color);
}

.land-page nav ul a:hover::before {
    transform: scale(1);
}

.text {
    text-align: center;
    margin-top: 50px;
}

.land-page .text p {
    font-size: 2rem;
    letter-spacing: 50px;
    color: white;
}

.land-page .text h1 {
    font-size: clamp(1.88rem, calc(0.000rem + 8.000vw), 6.00rem);
    font-weight: 800;
    letter-spacing: 30px;
    color: white;
}

.earth {
    margin-top: -180px;
}

.land-page img {
    height: 700px;
    animation-name: lol;
    animation-iteration-count: infinite;
    animation-duration: 100s;
    animation-timing-function: linear;
}

@keyframes lol{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* land-page end*/

/* section-1 start */
.section-1 .big-box{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.section-1 .text-section p:first-of-type {
    font-size: clamp(1.00rem, calc(0.773rem + 0.970vw), 1.50rem);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--main-color);

}

.section-1 .text-section h2 {
    font-size: clamp(1.56rem, calc(0.852rem + 3.030vw), 3.13rem);
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: white;
}

.section-1 .text-section p:last-of-type {
    font-size: clamp(0.88rem, calc(0.761rem + 0.485vw), 1.13rem);
    line-height: 1.8;
    color: rgb(233, 233, 233);
}

.section-1 button {
    padding: 15px 50px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    background-color: var(--main-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.section-1 button:hover {
    opacity: 0.8;
}

.section-1 img {
    height: 500px;
}

.section-1 .img {
    text-align: center;
}

.section-1 .text-section,
.section-1 .img {
    flex-basis: 50%;
}
/* section-1 end */

/* section-2 start */
.section-2 .big-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.section-2 .text-section .first {
    font-size: clamp(1.00rem, calc(0.773rem + 0.970vw), 1.50rem);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--main-color);

}

.section-2 .text-section h2 {
    font-size: clamp(1.56rem, calc(0.852rem + 3.030vw), 3.13rem);
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: white;
}

.section-2 .text-section .last {
    font-size: clamp(0.88rem, calc(0.761rem + 0.485vw), 1.13rem);
    line-height: 1.8;
    color: rgb(233, 233, 233);
    margin-bottom: 8px;
    line-height: 1.5;
}

.section-2 button {
    padding: 15px 50px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
    background-color: var(--main-color);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.section-2 button:hover {
    opacity: 0.8;
}

.section-2 img {
    height: 500px;
}

.section-2 .img {
    text-align: center;
}

.section-2 .text-section,
.section-2 .img {
    flex-basis: 50%;
}
/* section-2 end */

/* form start */
.form .text-section p {
    font-size: clamp(1.00rem, calc(0.773rem + 0.970vw), 1.50rem);
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--main-color);
    text-align: center;
}

.form .text-section h2 {
    font-size: clamp(1.56rem, calc(0.852rem + 3.030vw), 3.13rem);
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

form input {
    padding-left: 15px;
    width: 50%;
    height: 45px;
    border-radius: 25px;
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    letter-spacing: 1px;
    caret-color: white;
    color: white;
}

form input::placeholder {
    color: white;
}

.form span {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 40px;
    color: white;
}
/* form end */

/* contacts start */
.background-1 {
    width: 100%;
    height: 70vh;
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contacts .big-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 60px;
}

.contacts .child {
    width: calc(100% /3);
}

.contacts h3 {
    color: white;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.contacts a {
    width: fit-content;
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    color: rgb(204, 204, 204);
    cursor: pointer;
    transition: 0.3s;
}

.contacts a:hover {
    color: white;
    text-shadow:  0 0 5px white;
}
/* contacts end */
/* responsive */
/* Extra extra large devices (≥1400px) */
@media (max-width: 1400px) {
    .land-page .text {
        margin-top: 30px;
    }
    .land-page img {
        height: 500px;
    }
}

/* Extra large devices (≥1200px) */
@media (max-width: 1200px) {
    .land-page .text h1 {
        letter-spacing: 10px;
    }
    .earth img{
        height: 500px;
    }
    .earth {
        margin-top: -150px;
    }
    .land-page .text {
        margin-top: 30px;
    }
    .section-1 img {
        height: 400px;
    }
    .section-2 img {
        height: 400px;
    }
    .section-1 .text-section p:last-of-type {
        line-height: 1.3;
    }
    .section-1 .text-section h2 {
        margin-bottom: 5px;
        font-size: 30px;
    }
    .section-2 .text-section h2 {
        margin-bottom: 5px;
        font-size: 30px;
    }
    .section-1 button {
        margin-top: 5px;
    }
    .section-2 button {
        margin-top: 5px;
    }
}

/* Large devices (≥992px) */
@media (max-width: 992px) {
.land-page nav {
        flex-direction: row;
    }
    .land-page nav ul {
        gap: 40px;
        flex-direction: row;
    }
    .earth img{
        height: 500px;
    }
    .earth {
        margin-top: -150px;
    }
    .section-1 .big-box {
        flex-direction: column;
    }
    .section-2 .big-box {
        flex-direction: column;
    }
    .section-1 img {
        height: 300px;
    }
    .section-2 img {
        height: 300px;
    }
    .land-page .text {
        margin-top: 30px;
    }
    .section-1 .img {
        display: none;
    }
    .section-2 .img {
        display: none;
    }
}

/* Medium devices (≥768px) */
@media (max-width: 768px) {
    .land-page nav ul {
        gap: 5px;
        flex-direction: column;
        text-align: center;
    }
    .land-page nav {
        flex-direction: column;
    }
    .land-page .logo {
        margin-bottom: 10px;
    }
    .land-page .text h1 {
        letter-spacing: 5px;
    }
    .earth {
        display: none;
    }
    .land-page .text {
        margin-top: 10px;
    }
    .section-1 .big-box {
        flex-direction: column;
        padding: 10px 25px;
        max-height: 95%;
        align-items: center;
    }
    .section-2 .big-box {
        flex-direction: column;
        padding: 10px 25px;
        max-height: 95%;
        align-items: center;
    }
    .land-page .text {
        margin-top: 30px;
    }
    .section-1 .img {
        display: none;
    }
    .section-2 .img {
        display: none;
    }
    .section-1 .text-section h2 {
        margin-bottom: 5px;
    }
    .section-2 .text-section h2 {
        margin-bottom: 5px;
    }
    .padding {
        padding-left: 0px;
        padding-right: 0px;
    }
    .section-1 button {
        font-size: 14px;
        padding: 10px;
        margin-top: 5px;
    }
    .section-2 button {
        font-size: 14px;
        padding: 10px;
        margin-top: 5px;
    }
    form input {
        width: 90%;
    }
    .form span {
        margin-top: 10px;
    }
    .contacts h2,
    .contacts a{
        font-size: 10px;
        letter-spacing: 0;
        margin: 0;
    }
    .contacts .big-box {
        gap: 30px;
    }
}

@media (max-width: 576px) {
    .land-page nav ul {
        gap: 8px;
        flex-direction: column;
        text-align: center;
    }
    .land-page nav {
        flex-direction: column;
    }
    .land-page .logo {
        margin-bottom: 10px;
    }
    .land-page .text p,
    .land-page .text h1 {
        letter-spacing: 5px;
    }
    .earth {
        display: none;
    }
    .land-page .text {
        margin-top: 10px;
    }
    .section-1 .big-box {
        flex-direction: column;
        padding: 10px 25px;
        max-height: 95%;
        align-items: center;
    }
    .section-2 .big-box {
        flex-direction: column;
        padding: 10px 25px;
        max-height: 95%;
        align-items: center;
    }
    .section-1 img {
        height: 200px;
    }
    .section-2 img {
        height: 200px;
    }
    .section-1 button {
        font-size: 14px;
        padding: 10px;
        margin-top: 5px;
    }
    .section-2 button {
        font-size: 14px;
        padding: 10px;
        margin-top: 5px;
    }
    form input {
        width: 90%;
    }
    .form span {
        margin-top: 10px;
    }
    .contacts .big-box {
        gap: 30px;
    }
}